.banner {
    background-color: #4d00f4;
    color: white;
    margin-top: 75px;
    text-align: center;
    padding: 100px 0;
}

#vivian-pic {
    height: 300px;
    width: 300px;
}

#vivian {
    color: #4d00ff;
    font-size: 100px;
}

.bold {
    font-weight: 900;
}

#pengins {
    height: 400px;
    width: 300px;
}