.banner {
    background-color: #4d00f4;
    color: white;
    margin-top: 75px;
    text-align: center;
    padding: 100px 0;
}

h1 {
    font-size: 100px;
}

#vivian-pic {
    height: 300px;
    width: 300px;
}

#vivian {
    color: #4d00ff;
    font-size: 100px;
}

.bold {
    font-weight: 900;
}

#pengins {
    height: 400px;
    width: 300px;
}

.button {
    height: 40px;
    background-color: grey;
}

.button:hover {
    background-color: white;
    height: 45px;
}

.penguin {
    border: 10px solid cyan;
    margin-top: 10px;
    padding: 10px;
    background-color: orange;
}

figcaption {
    text-align: left;
}
