.banner {
    background-color: #4d00f4;
    color: white;
    margin: 0px;
    text-align: center;
    padding: 100px 0;
}

h1 {
    font-size: 100px;
    margin-top: 0px;
}

#vivian-pic {
    height: 300px;
    width: 300px;
}

#vivian {
    color: #4d00ff;
    font-size: 100px;
}

.bold {
    font-weight: 900;
}

#pengins {
    height: 400px;
    width: 300px;
}

.button {
    height: 40px;
    background-color: grey;
}

.button:hover {
    background-color: white;
    height: 45px;
}

.button:visited {
    src: url(https://www.crazygames.com/t/penguin);
}

.penguin {
    border: 10px solid cyan;
    margin-top: 10px;
    padding: 10px;
    background-color: orange;
}

.narutovideo {
    border: 5px dotted #ff5e00;
    padding: 5px;
}

figure {
    display: inline-block;
}

figcaption {
    text-align: center;
}

iframe {
    display: inline-block;
    display: block;
}

.vivianinfo {
    display: inline-block;
}
